/* General styling */

html, body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: hsl(222, 26%, 31%);
}

h1, h2, h3, h4, h5, p, span, button, input
{
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
}

p, span, button, input
{
    font-size: 2rem;
}

:root
{
    color-scheme: dark;
}

/* Calculator */

#calc
{
    margin: 0 auto;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#calc-header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#calc-header > .col:nth-last-child(1)
{
    font-size: .75rem;
    text-transform: uppercase;
}

#calc-switch
{
    display: flex;
    flex-direction: row;
    border-radius: 5rem;
    width: 4rem;
    padding: .3rem;
    background: hsl(223, 31%, 20%);
}

#calc-switch > button
{
    height: 1rem;
    width: 1rem;
    border: none;
    border-radius: 50%;
    background: hsl(6, 63%, 50%);
}

#calc-display
{
    border: none;
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: end;
    justify-content: center;
    font-size: 2.5rem;
    background: hsl(224, 36%, 15%);
    color: hsl(0, 0, 100%);
}

#calc-pad
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .75rem;
    padding: 1.5rem;
    border-radius: .5rem;
    background: hsl(223, 31%, 20%);
}

#calc-pad > button
{
    border: none;
    border-radius: .25rem;
    height: 3.75rem;
    background: hsl(30, 25%, 89%);
    box-shadow: inset 0 -.25rem hsl(28, 16%, 65%);
    color: hsl(221, 14%, 31%);
    transition: .2s;
}

#calc-pad > button:nth-last-child(-n+2)
{
    grid-column: span 2;
}

#calc-pad > button:nth-last-child(1)
{
    background: hsl(6, 63%, 50%);
    box-shadow: inset 0 -.25rem hsl(6, 70%, 34%);
}

#calc-pad > button:active
{
    box-shadow: none;
    transform: translateY(.25rem);
    height: 3.5rem;
}

.col
{
    display: inherit;
    align-items: inherit;
    gap: 1rem;
}

/* Attribution */

.attribution
{
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
}

.attribution a 
{
    color: hsl(228, 45%, 44%);
}
